option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
    NumProcesses: 1
    NumThreads: 15

  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    PYTHONUNBUFFERED: true

  aws:elasticbeanstalk:command:
    Timeout: 600

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"
    leader_only: true
  02_migrate:
    command: "echo 'Running migrations if any...'"
    leader_only: true